/* Typography */
#template-mo-zay-hero-carousel ul, #template-mo-zay-hero-carousel li, #template-mo-zay-hero-carousel p, #template-mo-zay-hero-carousel a, #template-mo-zay-hero-carousel div {
    font-family: 'Roboto', sans-serif;
    font-size: 18px !important;
    font-weight: 300 !important;
}
.h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px !important;
    font-weight: 200 !important;
}
#template-mo-zay-hero-carousel b{
    font-size: 50px !important;
}
#template-mo-zay-hero-carousel .text-success{
    color:#3278AB!important
}

/* Hero Carousel */
#template-mo-zay-hero-carousel {
    background: #fff !important;
    margin-top: 38px;
}

/* Product */
#carousel-related-product .slick-slide:focus {
    outline: none !important;
}
#carousel-related-product .slick-dots li button:before {
    font-size: 15px;
    margin-top: 20px;
}

/* Carousel Hero */
#template-mo-zay-hero-carousel .carousel-indicators li {
    margin-top: -50px;
    background-color: #3278AB;
}
#template-mo-zay-hero-carousel .carousel-control-next i,
#template-mo-zay-hero-carousel .carousel-control-prev i {
    color: #3278AB !important;
    font-size: 2.8em !important;
}
p{
    text-align: justify;
}
.proyecto{
    color: #3278AB !important;
    font-size: 40px !important;
}

/* Carousel Brand */
.tempaltemo-carousel .h1 {
    font-size: .5em !important;
    color: #000 !important;
}

/* Services */
.services-icon-wap {
    transition: .3s;
}
.services-icon-wap:hover, .services-icon-wap:hover i {
    color: #fff;
}
.services-icon-wap:hover {
    background: #69bb7e;
}
@media (min-width: 576px) {
    .tempaltemo-carousel .h1 {
        font-size: 1em !important;
    }
    .price-card{
        position: relative;
        left: -20%;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #templatemo_main_nav .navbar-nav {
        max-width: 450px;
    }
    .price-card{
        position: relative;
        left: -22.5%;
    }
}
@media (min-width: 859px) {
    .containerr{
        position: relative;
        left: -30%;
    }
    .price-card{
        position: relative;
        left: -5%;
    }
}
@media (min-width: 910px) {
    #template-mo-zay-hero-carousel .carousel-item {
        min-height: 30rem !important;
    }
    .container p, .container h1{
        margin-left: 0;
    }
    .carousel-item{
        position: relative;
        left: -0.005%;
    }
    .containerr{
        position: relative;
        left: -25%;
    }
    .price-card{
        position: relative;
        left: -5%;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #template-mo-zay-hero-carousel .carousel-item {
        min-height: 30rem !important;
    }
    .container p, .container h1{
        margin-left: 0;
    }
    .carousel-item{
        position: relative;
        left: -0.005%;
    }
    .containerr{
        position: relative;
        left: -20%;
    }
    .price-card{
        position: relative;
        left: 0%;
    }
}
@media (min-width: 1050px) {
    #template-mo-zay-hero-carousel .carousel-item {
        min-height: 30rem !important;
    }
    .container p, .container h1{
        margin-left: 0;
    }
    .carousel-item{
        position: relative;
        left: -0.005%;
    }
    .containerr{
        position: relative;
        left: -16%;
    }
    .price-card{
        position: relative;
        left: 0%;
    }
}
@media (min-width: 1200px) {
    #template-mo-zay-hero-carousel .carousel-item {
        min-height: 30rem !important;
    }
    .container p, .container h1{
        margin-left: 0;
    }
    .carousel-item{
        position: relative;
        left: -0.005%;
    }
    .containerr{
        position: relative;
        left: -5%;
    }
    .price-card{
        position: relative;
        left: 0%;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1250px) {
    #template-mo-zay-hero-carousel .carousel-item {
        min-height: 32rem !important;
    }
    .carousel-item{
        position: relative;
        left: 3%;
    }
    .container p, .container h1{
        margin-left: 10px;
    }
    .containerr{
        position: relative;
        left: -7%;
    }
}
@media (min-width: 1500px) {
    #template-mo-zay-hero-carousel .carousel-item {
        min-height: 36rem !important;
    }
    .containerr{
        position: relative;
        left: -2%;
    }
}
